name: Shellcheck

on:
  push:
    branches: [main, umireon-shellcheck]
  pull_request:
    branches: [main]

jobs:
  shellcheck:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        shell:
          - sh
          - dash
          - bash
          - ksh

    steps:
      - uses: actions/checkout@v2
      - name: Shellcheck
        run: shellcheck -s ${{ matrix.shell }} beta-install.sh
